<h1>Lista de pilotos</h1>

<%= link_to "Agregar piloto", new_pilot_path %>
 
<ol>
	<% @pilots.each do |pilot| %>
		<li>
			<%= pilot.name %>
			<%=pilot.identificacion %>
			<%= link_to "Editar", edit_pilot_path(pilot) %>
			<%= link_to "Eliminar", pilot_path(pilot), method: :delete, data: {confirm: "Estas seguro?"} %>


		</li>
</ol>

	<% end %>