<h1>Lista de Itinerarios</h1>

<%= link_to "Agregar rutas", new_itinerary_path %>
 
<ol>
	<% @itineraries.each do |itinerary| %>
		<li>
			<%= itinerary.ciudad_salida %> - <%= itinerary.ciudad_destino %>
			<%= link_to "Editar", edit_itinerary_path(itinerary) %>
			<%= link_to "Eliminar", itinerary_path(itinerary), method: :delete, data: {confirm: "Estas seguro?"} %>
			<%= link_to "Detalles", itinerary_path(itinerary) %>
		</li>

	<% end %>
</ol>

