<h1>Detalles de ruta</h1>

<ol>
	<li>Ciudad origen</li>
	<%= @itinerary.ciudad_salida %>

	<li>Ciudad destino</li>
	<%= @itinerary.ciudad_destino %>

	<li>Hora salida</li>
	<%= @itinerary.hora_salida %>

	<li>Hora llegada</li>
	<%= @itinerary.hora_llegada %>
</ol>

<h2>Detalles de la aerolinea</h2>

<ol>
	<li>
		Codigo del avion:
		<% @itinerary.aeroplanes.each do |aeroplane| %>
		<%=aeroplane.codigo %>
	</li>
	<% end %>
	
	<li>
		Nombre del piloto:
		<% @itinerary.pilots.each do |pilot| %>  <%=pilot.nombre %>
	</li>
	<% end %>
</ol>

<%= link_to "Comprar tiquete", ticket_path, data: {confirm: "Desea comprar un tiquete para este vuelo?"}, message: "Su compra ha sido satisfactoria" %>


